.floating-box
    .floating-box__square-button-wrapper
        each squareButton in data["button-list"].squareButtonList
            include ../floating-box-square-button/floating-box-square-button

    hr.floating-box__hr
    .floating-box__long-button-wrapper
        each longButton in data["button-list"].longButtonList
            include ../floating-box-long-button/floating-box-long-button