.floating-box-square-button {
    display: flex;
    color: $color-white;
    text-transform: uppercase;
    font-size: 10px;
    height: 106px;
    width: 123px;
    border-radius: $border-radius;
    border: 1px solid $color-white;
    justify-content: space-evenly;
    align-items: center;
    background: $boulder;
    // flex-wrap: wrap;
    flex-direction: column;

    @extend %box-shadow;
}

.floating-box__square-icon{
    font-size: 1.5rem;
}