.panel {
    display: flex;
    background: linear-gradient(to right, $pickled-bluewood, $san-marino);
    border-radius: $border-radius;
    padding: 10px 20px;
    color: $athens-gray;
    font-family: Arial, Helvetica, sans-serif;
}

.panel__column{
    padding: 0.5rem;
    &:nth-child(2) {
        width: 460px;
    }
}

.panel__p {
    margin: 1rem 0;
}

h1 {
    font-weight: normal;
}

.panel__button {
    background-color: $cinnabar;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: $border-radius;
    color: $color-white;
    margin: 1rem 0;
    cursor: pointer;

    &:focus {
        background-color: $color-white;
        color: $cinnabar;
    }
}

.panel__image {
    height: 300px;
    width: 460px;
    background-color: $silver-chalice;
    border-radius: $border-radius;
    position: relative;

    &:before, 
    &:after {
        content:"";
        position: absolute;
        top: 150px;
        left: 10px;
        width: 440px;
        height: 1px;
        transform: skewY(32deg);
        background-color: $color-white;
    }

    &:before {
        transform: skewY(-32deg);
    }
}

.panel__image-wrapper{
    background: $color-white;
    width: 460px;
}