.floating-box__long-button {
    display: flex;
    font-size: 13px;
    color: $color-white;
    // text-transform: uppercase;
    height: 42px;
    width: 455px;
    border-radius: $border-radius;
    border: 1px solid $dusty-gray;
    margin: 0 auto 21px;
    justify-content: flex-start;
    align-items: center;
    background: $boulder;
    flex-wrap: wrap;

    @extend %box-shadow;
}

.floating-box__long-icon{
    font-size: 1.2rem;
    margin: 0 1rem;
}

.floating-box__long-label::first-letter{
    text-transform: capitalize;
}